/* General Styles & Reset */

* {
    margin: 0; 
    padding: 0; 
}

html {
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

/* Typography */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 5rem; 
    color: #fff; 
    text-align:center; 
    position: relative; 
    top: 35%; 
}

article p {
    width: 25ch; 
}


/* Layout  & Appearance  */

main {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}

.flex {
    display: flex;
}

div.flex {
    justify-content: space-between;

}

article {
    margin-bottom: 25px;
}


/* Backgrounds & Images */

/* PART ONE -  Working with Background and Background Images */ 

header {
    height: 50vh;
    /*background-color*/ 
    background-color: black;
    /*gradients*/ 
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(62,191,147,1) 35%, rgba(0,212,255,1) 100%);
    /* background-image*/ 
    background-image:url(assets/pexels-sanketh-rao-716107.jpg);
    /* controlling background repeat */ 
    background-repeat: no-repeat;
    /* controlling background-size */ 
    background-size: cover;
    /* position the background image */ 
    background-position: center;
    /* background-attachment */ 
    background-attachment: fixed;
    /*background shorthand */ 
    background: url(assets/pexels-sanketh-rao-716107.jpg) no-repeat center/cover fixed;
}


.photo-container {
    width: 200px; 
    height: 150px 
}

.photo-container img {
    max-width: 100%;
    height:auto;
}


/*PART TWO - MANIPULATING IMAGES WITH CSS */

.flex:nth-of-type(1) article:nth-of-type(2) img:hover {
   border: 5px solid red;
   filter: blur(2px);
   filter: brightness(0.4);
   filter: contrast(200%);
   filter: drop-shadow(16px 16px 20px black);
   filter: grayscale(50%);
   filter: hue-rotate(90deg);
   filter: invert(75%);
   filter: opacity(75%);
   filter: saturate(30%);
   filter: sepia(100%);
}


/*Try It Out - apply filters to another image featured on the page */ 

.flex:nth-of-type(1) article:nth-of-type(3) img:hover {
    border: 15px solid black;
    filter: blur(1px) opacity(75%) drop-shadow(100px 100px 20px rgb(214, 48, 48)) sepia(100%) invert(100%);
    transform: rotate3d(0, 1, 0.5, 3.142rad);
    transition-duration: 5000ms;
    
}

.flex:nth-of-type(1) article:nth-of-type(4) img:hover {
    
}